* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.block {
    width:1000px;
    height:700px;
    border:1px solid grey;
    margin:0 auto;
}
.head{
    width:55%;
    text-align: center;
    float:left;
    padding:20px 0px 20px 0px;
    margin-left: 20px;
}
.head p:nth-child(1){
    padding:20px;
    font-size: 20px;
}
.head small{
    color:grey;
    font-size: 15px;
}
.left{
    text-align: left;
    padding:8px;
}
.right{
    float:right;
}
.img{
    width:38%;
    float:left;
}
.img img{
    width:400px;
}
.cross{
    width:2%;
    float:left;
}
.cross svg{
    padding-top:15px;
    width:30px;
}
.sale{
    width:60%;
    margin-left: 20px;
    margin-right: 20px;;
    float:left;
}
.order-summary{
    float:left;
    width:30%;
}
.order-summary>div{
    width:50%;
    float:left;
}
.order-summary>div:nth-child(2){
    padding-left: 60px;
    margin-top: 38px;
}
#amount{
    float:right;
    margin-top:30px;
    padding:10px 20px;
}
#country{
    padding: 10px;
    float:right;
}
#submit{
    margin-top: 280px;
    padding:15px 35px;
    color:white;
    font-size: 18px;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 5px;
}